/* @tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  direction: rtl;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #F3F3F3;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




    
.bgg{
   background: repeating-conic-gradient(
    from var(--aa),
    #00c3ff 0%,
    transparent 100%,
  ); 

  animation: animate 6s  infinite linear; 
}
@property --aa{
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;

}

@keyframes animate{

  0%{
    --aa:0deg;
  }
  100%{
    --aa:360deg;
  }

} */


/* sina branch */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #f5f5f4; 
  --text-color: #7E7E7E;
  width: 100vw;
  margin: 0 auto;
  /* background: #F3F3F3; */
  /* background: #1f1f1f; */
  direction: rtl;
}

body {
  font-family: Iransans; 
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color); 
  
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

@font-face {
  font-family: Iransans;
  src: url(../public/Fonts/IRANSans.ttf);
}

@font-face {
  font-family: IranSansNumber;
  src: url(../public/Fonts/IRANSansXFaNum-Bold.ttf);
}

.price{font-family: IranSansNumber;}
.academyH1{font-family: IranSansNumber;}

.range-slider {
  position: relative;
}

.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
}

.range-slider input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(to right, blue 0%, blue calc((var(--min) - var(--min-value)) / (var(--max-value) - var(--min-value)) * 100%), #4CAF50 calc((var(--min) - var(--min-value)) / (var(--max-value) - var(--min-value)) * 100%), #4CAF50 calc((var(--max) - var(--min-value)) / (var(--max-value) - var(--min-value)) * 100%), #ddd calc((var(--max) - var(--min-value)) / (var(--max-value) - var(--min-value)) * 100%));
  pointer-events: auto;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  background: #91ACCF;
  border-radius: 100%;
  cursor: pointer;
  pointer-events: auto;
  -webkit-appearance: none;
}

.range-slider input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 3px solid #91ACCF;
  border-radius: 100%;
  cursor: pointer;
  pointer-events: auto;
  -webkit-appearance: none;
}

.range-slider input[type="range"]:focus {
  outline: none;
}

.range-slider input[type="range"]::-webkit-slider-runnable-track:active {
  background: #4CAF50;
}
