.slick-dots {
  font-size: 20px;
  bottom: 31px;
  left: -80px;
}
.slick-dots > li{
    width: 15px;
}
.slick-dots > li > button::before{
    /* background: blue; */
    color: #91ACCF;
    font-size: 9px;
}
.slick-active > button::before{
    color: #91ACCF;
    /* background: blue; */
}
.slick-dots li.slick-active button::before{
    color: #91ACCF;
}